<div>
  <p>
    rds-summary works!
  </p>

    <div class="row">
      <div class="col-md-12">
        <table wetDatatable="" [data]="dataVals" id="table2"
               class=" row-border hover table table-striped table-hover table-bordered  no-footer ng-wt-tbl">
          <thead>
          <tr>
            <th style="width: 15%;">{{'summary.hd.name' |translate}}</th>
            <th style="width: 25%;">{{'summary.hd.mi' |translate}}</th>
            <th style="width: 20%;">{{'summary.hd.man' |translate}}</th>
            <th style="width: 10%;">{{'summary.hd.outcome' |translate}}</th>
            <th style="width: 10%;">{{'summary.hd.decisDate' |translate}}</th>
            <th style="width: 10%;">{{'summary.hd.control' |translate}}</th>
            <th style="width: 10%;" [innerHTML]="'summary.hd.typeHtml' | translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataVals">
            <td>
              <a class="nav-link"  routerLink="/summary-details/{{data.link_id}}"  routerLinkActive="active">{{data.drug_name}}</a>
            </td>
            <td>{{data.medical_ingredient}}</td>
            <td>{{data.manufacturer}}</td>
            <td>{{data.decision}}</td>
            <td>{{data.date_decision}}</td>
            <td>{{data.control_number}}</td>
            <td>{{data.type_submission}}</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

<!--  <router-outlet></router-outlet>-->
  </div>
