
<div>
  <p>
    rds-summary works!
  </p>

  <div class="row">
    <div class="col-md-12">
      <table datatable id="table1"  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class=" row-border hover table table-striped table-hover table-bordered  no-footer ng-wt-tbl">
        <thead>
        <tr>
          <th style="width: 15%;">Drug/Device Name</th>
          <th style="width: 25%;">Medicinal Ingredient</th>
          <th style="width: 20%;">Manufacturer</th>
          <th style="width: 10%;">Outcome</th>
          <th style="width: 10%;">Decision Date</th>
          <th style="width: 10%;">Control Number /Application Number</th>
          <th style="width: 10%;">Type of Submission / Type of Application</th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let data of dataVals">
          <td>{{data.drug_name}}</td>
          <td>{{data.medical_ingredient}}</td>
          <td>{{data.manufacturer}}</td>
          <td>{{data.decision}}</td>
          <td>{{data.date_decision}}</td>
          <td>{{data.control_number}}</td>
          <td>{{data.type_submission}}</td>
        </tr>
        </tbody>
      </table>

  </div>

</div>
