<div>

  <pre>{{detailData |json}}</pre>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 id="title" class="panel-title">Summary Basis of Decision (SBD) for <span id="Brandname"
                                                                                   class="text-uppercase">NeuraCeq</span>
      </h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <p class="col-md-1"><strong>Contact:</strong></p>
        <div class="col-md-11 mrgn-lft-0"><p id="Contact"><a
          href="http://www.hc-sc.gc.ca/contact/dhp-mps/hpfb-dgpsa/bgtd-pbtg-ora-bar-eng.php">Office of Regulatory
          Affairs, Biologics and Genetic Therapies Directorate</a></p></div>
      </div>
      <p>Summary basis of decision (SBD) documents provide information related to the original authorization of a
        product. The <a href="#Brandname4">SBD</a> for <span id="Brandname1">NeuraCeq</span> is located below.</p>

      <details class="margin-top-medium" open="">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited on"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-1" aria-controls="wb-auto-1"
                 tabindex="-1">Recent activity
        </summary>
        <p id="RecentActivity">SBDs written for <a
          href="http://www.hc-sc.gc.ca/dhp-mps/prodpharma/sbd-smd/sbd_qa_smd_fq-eng.php#a4">eligible drugs</a> approved
          after September 1, 2012 will be updated to include post-authorization information. This information will be
          compiled in a Post-Authorization Activity Table (PAAT). The PAAT will include brief summaries of activities
          such as submissions for new uses of the product, and whether Health Canada's decision was negative or
          positive. PAATs will be updated regularly with post-authorization activity throughout the product's life
          cycle.
          <span id="paatMessage">At this time, no PAAT is available for NeuraCeq. When the PAAT for NeuraCeq becomes available, it will be incorporated into this SBD</span>
        </p>
      </details>

      <details class="margin-top-medium" id="paatDiv" style="display: none;">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-2" aria-controls="wb-auto-2">
          Post-Authorization Activity Table (PAAT) for <span id="Brandname9">NeuraCeq</span></summary>
        <div class="row">
          <p class="col-sm-4"><strong>Updated:</strong></p>
          <div class="col-sm-8"><p id="DateAuthorization"></p></div>
        </div>

        <!--<p>The following table describes post-authorization activity for <span id="Brandname2"></span>, a product which contains the medicinal ingredient <span id="MedIngredient"></span>. For more information on the type of information found in PAATs, please refer to the <a href="http://www.hc-sc.gc.ca/dhp-mps/prodpharma/sbd-smd/sbd_qa_smd_fq-eng.php">Frequently Asked Questions: Summary Basis of Decision (SBD) Project: Phase II</a>.</p>
        <p>For additional information about the drug submission process, refer to the <a href="http://www.hc-sc.gc.ca/dhp-mps/prodpharma/sbd-smd/drug-med/list-abbrev-liste-eng.php">Management of Drug Submissions Guidance</a>.</p>-->
        <div id="paat_info"></div>
        <div><strong>Post-Authorization Activity Table (PAAT)</strong></div>
        <div id="paat_wrapper" class="dataTables_wrapper no-footer">
          <div class="top">
            <div id="paat_filter" class="dataTables_filter"><label>Filter items<input type="search" class=""
                                                                                      placeholder=""
                                                                                      aria-controls="paat"></label>
            </div>
            <div class="dataTables_info" id="paat_info2" role="status" aria-live="polite">Showing
            0
            to
            0
            of
            0
            entries</div>
          </div>
          <div id="paat_processing" class="dataTables_processing" style="display: none;">processing...</div>
          <table id="paat"
                 class="wb-tables table-striped table-hover table-bordered wb-init wb-tables-inited dataTable no-footer"
                 aria-describedby="paat_info" role="grid">
            <thead>
            <tr role="row">
              <th class="col-sm-2 sorting" tabindex="0" aria-controls="paat" rowspan="1" colspan="1"
                  aria-label="Activity/submission type, control number: activate for ascending sort">Activity/submission
                type, control number<span class="sorting-cnt"><span class="sorting-icons"></span></span></th>
              <th class="col-sm-2 sorting" tabindex="0" aria-controls="paat" rowspan="1" colspan="1"
                  aria-label="Date submitted: activate for ascending sort">Date submitted<span class="sorting-cnt"><span
                class="sorting-icons"></span></span></th>
              <th class="col-sm-2 sorting" tabindex="0" aria-controls="paat" rowspan="1" colspan="1"
                  aria-label="Decision and date: activate for ascending sort">Decision and date<span
                class="sorting-cnt"><span class="sorting-icons"></span></span></th>
              <th class="col-sm-6 sorting" tabindex="0" aria-controls="paat" rowspan="1" colspan="1"
                  aria-label="Summary of activities: activate for ascending sort">Summary of activities<span
                class="sorting-cnt"><span class="sorting-icons"></span></span></th>
            </tr>
            </thead>
            <tbody id="tbodyMain">
            <tr class="">
              <td valign="top" colspan="4" class="dataTables_empty">No data is available in the table</td>
            </tr>
            </tbody>
          </table>
          <div class="bottom"></div>
          <div class="clear"></div>
        </div>
      </details>
      <details class="margin-top-medium" open="">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited on"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-3" aria-controls="wb-auto-3"
                 tabindex="-1">Summary basis of decision for <span id="Brandname4">{{detailData.brand_name}}</span></summary>
        <div class="row">
          <p class="col-sm-4"><strong>Date SBD issued:</strong></p>
          <div class="col-sm-8"><p id="DateIssued">{{detailData.date_issued}}</p></div>
        </div>
        <p>The following information relates to the original authorization of the new drug submission for <span
          id="Brandname3">{{detailData.brand_name}}</span>.</p>
        <!--<div><p><strong id="TombstoneList"></strong></p></div>-->
        <div><p><strong id="summary_drug" innerHtml="{{detailData.summary_drug}}"></strong>
        </p></div>
        <div class="row">
          <p class="col-sm-4"><strong>Drug identification number (DIN):</strong></p>
          <div class="col-sm-8"><p id="DinList">Not Applicable</p></div>
        </div>
        <div>
          <p><strong id="Manufacturer2">IsoLogic Innovative Radiopharmaceuticals Ltd.</strong></p>
          <p><strong id="SubTypeNum">New Drug Submission Control Number: 193105</strong></p>
        </div>
        <div>
          <div id="Summary">
          <p>On February 22, 2017, Health Canada issued a Notice of Compliance to IsoLogic Innovative
            Radiopharmaceuticals Ltd. for the drug product NeuraCeq. </p>
          <p>The market authorization was based on quality (chemistry and manufacturing), non-clinical (pharmacology and
            toxicology), and clinical (pharmacology, safety, and efficacy) information submitted. Based on Health
            Canada's <a href="#AClinBasisHeader">review</a>, the <a href="#WhyApprovedTitle">benefit/risk</a> profile of
            NeuraCeq is favourable for Positron Emission Tomography (PET) imaging of the brain to estimate β-amyloid
            neuritic plaque density in adult patients with cognitive impairment who are being evaluated for Alzheimer's
            Disease (AD) and other causes of cognitive decline.</p>
          </div>
        </div>
      </details>
      <details class="margin-top-medium" id="WhatApprovedTitle">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited off"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-4" aria-controls="wb-auto-4"
                 tabindex="-1">1 What was approved?
        </summary>
        <p id="WhatApproved">
        <p>NeuraCeq, a diagnostic radiopharmaceutical, was authorized for Positron Emission Tomography (PET) imaging of
          the brain to estimate β-amyloid neuritic plaque density in adult patients with cognitive impairment who are
          being evaluated for Alzheimer's Disease (AD) and other causes of cognitive decline.</p>
        <p>NeuraCeq is an adjunct to other diagnostic evaluations.</p>
        <p>Limitations of Use:</p>
        <ul>
          <li>A positive NeuraCeq scan does not establish the diagnosis of AD or any other cognitive disorder.</li>
          <li>Safety and effectiveness of NeuraCeq have not been established for:</li>
          <ul>
            <li>Predicting development of dementia or other neurologic conditions;</li>
            <li>Monitoring responses to therapies.</li>
          </ul>
        </ul>
        <p>Of the 872 subjects in clinical studies of NeuraCeq, 603 (69%) were 65 years of age or over, while 304 (35%)
          were 75 years or over. No overall differences in safety were observed between these subjects and younger
          subjects.</p>
        <p>NeuraCeq is contraindicated for patients who are hypersensitive to this drug or to any ingredient in the
          formulation, including any non-medicinal ingredient, or component of the container. NeuraCeq was approved for
          use under the conditions stated in the NeuraCeq Product Monograph taking into consideration the potential
          risks associated with the administration of this drug product.</p>
        <p>NeuraCeq (florbetaben [<sup>18</sup>F]) is supplied as a sterile, non-pyrogenic clear solution of 50 to 5,000
          MBq/mL florbetaben (<sup>18</sup>F) at the end of synthesis (EOS), in a 30 mL multi-dose glass vial containing
          up to 30 mL. Each vial contains multiple doses and is enclosed in a shielded container to minimize external
          radiation exposure. The pH of the solution is between 4.5 and 7. The non-medicinal ingredients include
          ascorbic acid, ethanol, macrogol 400, and sodium ascorbate. </p>
        <p>For more information, refer to the <a href="#AClinBasisTitle">Clinical</a>, <a href="#ANonClinBasisTitle">Non-Clinical</a>,
          and <a href="#BQualityBasisTitle">Quality</a> (Chemistry and Manufacturing) Basis for Decision sections.</p>
        <p>Additional information may be found in the NeuraCeq Product Monograph, approved by Health Canada and
          available through the <a href="https://health-products.canada.ca/dpd-bdpp/index-eng.jsp">Drug Product
            Database</a>.</p>
      </details>
      <details class="margin-top-medium" id="WhyApprovedTitle" open="">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited on"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-5" aria-controls="wb-auto-5"
                 tabindex="-1">2 Why was <span id="Brandname5">NeuraCeq</span> approved?
        </summary>
        <p id="WhyApproved">
        <p>Health Canada considers that the benefit/risk profile of NeuraCeq is favourable for Positron Emission
          Tomography (PET) imaging of the brain to estimate β-amyloid neuritic plaque density in adult patients with
          cognitive impairment who are being evaluated for Alzheimer's Disease (AD) and other causes of cognitive
          decline.</p>
        <p>NeuraCeq (florbetaben [<sup>18</sup>F]) is a fluorine-18-labelled stilbene derivative which binds to
          β-amyloid plaques in the brain. Following intravenous administration, NeuraCeq crosses the blood brain barrier
          and shows differential retention in brain regions that contain β-amyloid deposits. Differences in signal
          intensity between brain regions showing specific and non-specific NeuraCeq uptake form the basis for the image
          interpretation method.</p>
        <p>A negative NeuraCeq scan indicates sparse to no amyloid neuritic plaques and is inconsistent with a
          neuropathological diagnosis of AD at the time of image acquisition. A negative scan result reduces the
          likelihood that a patient's cognitive impairment is due to AD. A positive NeuraCeq scan indicates moderate to
          frequent amyloid neuritic plaques. Neuropathological examination has shown this amount of amyloid neuritic
          plaque is present in patients with AD, but may also be present in patients with other types of neurologic
          conditions as well as older people with normal cognition.</p>
        <p>Selection of the most appropriate activity of florbetaben (<sup>18</sup>F) to be used in the clinical study
          program was examined. The 150 MBq amount provided suboptimal image quality for diagnostic evaluation while a
          450 MBq dose did not improve imaging compared to 300 MBq. Therefore, a 300 MBq amount was used for the pivotal
          study and is the recommended clinical dose (recommended range is 300 ± 60 MBq, which is 8.1 ± 1.6 mCi
          corresponding to a mass dose of approximately 30 µg florbetaben, at the upper bracket). </p>
        <p>Radiation dosimetry was investigated and results demonstrated that after intravenous bolus injection of 300
          MBq, the uptake of radioactivity in the brain was rapid, reaching a maximum of approximately 6% of injected
          activity at 10 minutes post-injection. The mean effective dose resulting from the administration of 300 MBq
          was 5.8 ± 0.42 mSv (effective dose coefficient was 1.93E-02 mSv/MBq).</p>
        <p>NeuraCeq was evaluated in three single-arm clinical studies that examined images from adults with a range of
          cognitive function, including some end-of-life patients who had agreed to participate in a post-mortem brain
          donation program. Subjects underwent NeuraCeq injection and scan, then had images interpreted by independent
          readers masked to all clinical and histopathological information. The study looked at the sensitivity and
          specificity of the PET scans compared to post-mortem histopathology. The results of the whole-brain
          (subject-based) visual assessments by the three in-person trained readers for the first 31 deceased subjects
          and 10 healthy volunteers (yielded a sensitivity of 100% (95% confidence interval [CI]: 80.5-100%), a
          specificity of 91.7% (95% CI: 80.6-100%), and inter-reader agreement of kappa = 0.870. For an 82-subject
          subset analysis, sensitivity was 77.4% (95% CI: 65.3-89.4%), and specificity was 94.2% (95% CI: 88.6-99.8%)
          for all regions analyzed; thus, the study was successful for both subsets. Study results demonstrated that PET
          scans with NeuraCeq had high sensitivity and specificity for detecting β-amyloid plaques in the brain, with
          results of the scans closely reflecting what was seen at autopsy.</p>
        <p>Based on the clinical studies, the safety database consisted of 872 subjects (1,090 administrations of
          NeuraCeq). The most common adverse reactions were injection site pain (3.5%), injection site erythema (1.7%),
          injection site irritation (1.2%), and other injection site reactions (1.2%). No deaths or serious adverse
          reactions were attributed to the drug.</p>
        <p>Appropriate warnings and precautions are in place in the NeuraCeq Product Monograph. A Serious Warnings and
          Precautions box stating that NeuraCeq should only be used by health professionals who are appropriately
          qualified in the use of radioactive prescribed substances in or on humans has been included.</p>
        <p>The radiation dosimetry assessments indicate a mean effective dose similar to those noted for other
          diagnostic radiopharmaceuticals.</p>
        <p>A Risk Management Plan (RMP) for NeuraCeq was submitted by IsoLogic Innovative Radiopharmaceuticals Ltd to
          Health Canada. The RMP is considered to be adequate at this time. The RMP is designed to describe known and
          potential safety issues, to present the monitoring scheme and when needed, to describe measures that will be
          put in place to minimize risks associated with the product. However, as part of the marketing authorization
          for NeuraCeq, Health Canada requested that the sponsor provide a reply for some follow-up points related to
          the RMP to be addressed post-market. </p>
        <p> A Look-alike Sound-alike brand name assessment was performed and the name NeuraCeq has been deemed
          acceptable.</p>
        <p>Overall, the submitted clinical efficacy studies for NeuraCeq met their two main objectives: </p>
        <ol>
          <li>to demonstrate the performance in terms of accuracy (sensitivity and specificity) of the drug (which also
            constitutes proof of concept and target validation elements), and
          </li>
          <li>to demonstrate that the methods developed and intended to be used clinically for the image interpretation
            processes (for example [e.g.], agreement, reproducibility, etc.) were both satisfactory.
          </li>
        </ol>
        <p>Based on an assessment of all of the information provided in the submission, NeuraCeq is considered to have
          an acceptable benefit/risk balance within the parameters of the claimed indication. Therefore, the
          benefit/risk profile for NeuraCeq is considered favourable.</p>
        <p>This New Drug Submission complies with the requirements of sections C.08.002 and C.08.005.1 and therefore
          Health Canada has granted the Notice of Compliance pursuant to section C.08.004 of the <a
            href="http://laws-lois.justice.gc.ca/eng/regulations/C.R.C.,_c._870/index.html">Food and Drug
            Regulations</a>. For more information, refer to the <a href="#AClinBasisTitle">Clinical</a>, <a
            href="#ANonClinBasisTitle">Non-Clinical</a>, and <a href="#BQualityBasisTitle">Quality</a> (Chemistry and
          Manufacturing) Basis for Decision sections.</p>
      </details>
      <details class="margin-top-medium" id="StepsApprovalTitle">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-6" aria-controls="wb-auto-6">3
          What steps led to the approval of <span id="Brandname8">NeuraCeq</span>?
        </summary>
        <div id="StepsApproval"><p> The sponsor filed a request for Priority Review Status under the <a
          href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/applications-submissions/policies/policy-priority-review-drug-submissions.html">Priority
          Review Policy</a> for the review of the new drug submission for NeuraCeq. An assessment was conducted to
          determine if sufficient evidence was provided demonstrating that the drug provides:</p>
          <ul type="a">
            <li>an effective treatment, prevention or diagnosis of a disease or condition for which no drug is presently
              marketed in Canada or
            </li>
            <li>a significant increase in efficacy and/or significant decrease in risk such that the overall
              benefit/risk profile is improved over existing therapies, preventatives or diagnostic agents for a disease
              or condition that is not adequately managed by a drug marketed in Canada.
            </li>
          </ul>
          <p>Although Alzheimer's Disease (AD) is a severe disease for which no effective drug therapy is available in
            Canada and for which no definitive diagnostic procedures are available, NeuraCeq is not claimed to establish
            a diagnosis of AD or any other cognitive disorder. The sponsor did not provide evidence that amyloid
            Positron Emission Tomography (PET) imaging is clinically effective either in the diagnosis of or for
            predicting the development of AD, or in patient management outcomes such as monitoring patient response to
            treatment. This product could only be used as an adjunct diagnostic test among other clinical tools in the
            evaluation of patients with cognitive decline. </p></div>
        <p class="mrgn-tp-md"><strong>Submission Milestones:&nbsp;<span id="Brandname7">NeuraCeq</span></strong></p>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
            <tr class="active">
              <th class="col-xs-8">Submission milestone</th>
              <th class="col-xs-4">Date</th>
            </tr>
            </thead>
            <tbody id="MilestoneTable">
            <tr>
              <td><b>Request for priority status</b></td>
              <td></td>
            </tr>
            <tr>
              <td>Filed:</td>
              <td>2016-01-14</td>
            </tr>
            <tr>
              <td>Rejection issued by Director, Centre for Evaluation of Radiopharmaceuticals and Biotherapeutics:</td>
              <td>2016-02-05</td>
            </tr>
            <tr>
              <td>Submission filed:</td>
              <td>2016-02-26</td>
            </tr>
            <tr>
              <td><b>Screening </b></td>
              <td></td>
            </tr>
            <tr>
              <td>Screening Acceptance Letter issued:</td>
              <td>2016-04-29</td>
            </tr>
            <tr>
              <td><b>Review 1</b></td>
              <td></td>
            </tr>
            <tr>
              <td>On-Site Evaluation:</td>
              <td> Not applicable</td>
            </tr>
            <tr>
              <td>Quality Evaluation complete:</td>
              <td>2017-02-20</td>
            </tr>
            <tr>
              <td>Clinical Evaluation complete:</td>
              <td>2017-02-20</td>
            </tr>
            <tr>
              <td>Labelling Review complete:</td>
              <td>2017-02-16</td>
            </tr>
            <tr>
              <td>Notice of Compliance issued by Director General, Biologics and Genetic Therapies Directorate:</td>
              <td>2017-02-22</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p id="AssessBasis">
        <p>The Canadian regulatory decision on the non-clinical and clinical review of NeuraCeq was based on a critical
          assessment of the Canadian data package. The foreign reviews completed by the European Medicines Agency (EMA)
          and the United States Food and Drug Administration (FDA) were used as an added reference.</p>
        <p>For additional information about the drug submission process, refer to the <a
          href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/applications-submissions/guidance-documents/management-drug-submissions/industry.html">Management
          of Drug Submissions Guidance</a>.</p>
      </details>
      <details class="margin-top-medium" id="FollowupMeasuresTitle">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-7" aria-controls="wb-auto-7">4
          What follow-up measures will the company take?
        </summary>
        <p id="FollowupMeasures">
        <p>As part of the marketing authorization for NeuraCeq, Health Canada requested the sponsor provide a reply for
          some follow-up points related to the Risk Management Plan (RMP) to be addressed post-market. In addition to
          requirements outlined in the <a href="http://laws-lois.justice.gc.ca/eng/acts/F-27/">Food and Drugs Act</a>
          and <a href="http://laws-lois.justice.gc.ca/eng/regulations/C.R.C.,_c._870/index.html">Regulations</a>,
          commitments include (but are not limited to):</p>
        <ul>
          <li>Submitting a Canadian addendum to the Risk Management Plan for review.</li>
          <li>Submitting planned educational and training materials for Positron Emission Tomography (PET) scan readers
            for review.
          </li>
          <li>Providing information on how effectiveness of risk minimization measures of other safety concerns will be
            evaluated as it was provided only for PET scan interpretation errors.
          </li>
          <li>Providing interim reports from post-authorization studies (PASS-1 and PASS-2), including any impact on the
            safety profile of NeuraCeq and/or product labelling information.
          </li>
        </ul>
      </details>
      <details class="margin-top-medium" id="PostAuthTitle">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-8" aria-controls="wb-auto-8">5
          What post-authorization activity has taken place for <span id="Brandname6">NeuraCeq</span>?
        </summary>
        <div id="PostAuth">
        <p>Summary Basis of Decision documents (SBDs) for <a
          href="http://www.hc-sc.gc.ca/dhp-mps/prodpharma/sbd-smd/sbd_qa_smd_fq-eng.php#a4">eligible drugs</a>
          authorized after September 1, 2012 will include post-authorization information in a table format. The
          Post-Authorization Activity Table (PAAT) will include brief summaries of activities such as submissions for
          new uses of the product, and whether Health Canada's decision was negative or positive. The PAAT will continue
          to be updated during the product's life cycle.</p>
        <p>At this time, no PAAT is available for NeuraCeq. When available, the PAAT will be incorporated into this
          SBD.</p>
        <p>For the latest advisories, warnings and recalls for marketed products, see <a
          href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medeffect-canada.html">MedEffect
          Canada</a>.</p>
        </div>
      </details>
      <details class="margin-top-medium" id="OtherInfoTitle">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-9" aria-controls="wb-auto-9">6
          What other information is available about drugs?
        </summary>
        <div id="OtherInfo">
        <p>Up to date information on drug products can be found at the following links:</p>
        <ul>
          <li>See <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medeffect-canada.html">MedEffect
            Canada</a> for the latest advisories, warnings and recalls for marketed products.
          </li>
          <li>See the <a href="https://health-products.canada.ca/noc-ac/index-eng.jsp">Notice of Compliance (NOC)
            Database</a> for a listing of the authorization dates for all drugs that have been issued an NOC since 1994.
          </li>
          <li>See the <a href="https://health-products.canada.ca/dpd-bdpp/index-eng.jsp">Drug Product Database</a> (DPD)
            for the most recent Product Monograph. The DPD contains product-specific information on drugs that have been
            approved for use in Canada.
          </li>
          <li>See the <a href="http://web.hc-sc.gc.ca/dhp-mps/prodpharma/notices-avis/conditions/index-eng.php">Notice
            of Compliance with Conditions (NOC/c)-related documents</a> for the latest fact sheets and notices for
            products which were issued an NOC under the <a
              href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/applications-submissions/guidance-documents/notice-compliance-conditions.html">Notice
              of Compliance with Conditions (NOC/c) Guidance Document</a>, if applicable. Clicking on a product name
            links to (as applicable) the Fact Sheet, Qualifying Notice, and Dear Health Care Professional Letter.
          </li>
          <li>See the <a
            href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/patent-register.html">Patent
            Register</a> for patents associated with medicinal ingredients, if applicable.
          </li>
          <li>See the <a
            href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/applications-submissions/register-innovative-drugs/register.html">Register
            of Innovative Drugs</a> for a list of drugs that are eligible for data protection under C.08.004.1 of the <a
            href="http://laws-lois.justice.gc.ca/eng/regulations/C.R.C.,_c._870/index.html">Food and Drug
            Regulations</a>, if applicable.
          </li>
        </ul>
        </div>
      </details>
      <details class="margin-top-medium" id="AClinBasisHeader" open="">
        <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                 data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-10" aria-controls="wb-auto-10">7
          What was the scientific rationale for Health Canada's decision?
        </summary>
        <div id="template2a">
          <details class="margin-top-medium" id="AClinBasisTitle" open="">
            <summary class="well well-sm wb-toggle wb-init wb-toggle-inited on"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-11" aria-controls="wb-auto-11"
                     tabindex="-1">7.1 Clinical basis for decision
            </summary>
            <div id="AClinBasis1"><h4>Clinical Pharmacology</h4>
            <p> People with memory problems sometimes have β-amyloid plaques in the brain. Following intravenous
              administration, NeuraCeq (florbetaben [<sup>18</sup>F]) binds to β-amyloid plaques in the brain and the
              radiation it emits can be detected by the Positron Emission Tomography (PET) scanner, enabling doctors to
              see whether or not significant amounts of amyloid neuritic plaques are present.</p>
            <p>The clinical pharmacology included reports on the human pharmacodynamic and pharmacokinetic studies. The
              clinical pharmacological data support the use of NeuraCeq for the specified indication.</p>
            <p>Radiation dosimetry was investigated as an element in four of the clinical studies. Data on the total
              <sup>18</sup>F radioactivity in blood/plasma and urine, and data for the amount of unchanged florbetaben
              in plasma was submitted. The results obtained from these studies demonstrated that after intravenous bolus
              injection of the intended clinical dose of 300 MBq florbetaben <sup>18</sup>F, the uptake of radioactivity
              in the brain was rapid, reaching a maximum of approximately 6% of injected activity at 10 minutes
              post-injection. Florbetaben was eliminated from the plasma primarily via the hepatobiliary system, and a
              biological half-life of approximately 1 hour (coefficient of variation: 54%). Radiation dosimetry
              calculations were adapted to an adult model and calculated using Organ Level INternal Dose Assessment
              (OLINDA) software. The mean effective dose resulting from the administration of 300 MBq was 5.8 ± 0.42 mSv
              (effective dose coefficient was 1.93E-02 mSv/MBq).</p>
            <p>For further details, please refer to the NeuraCeq Product Monograph, approved by Health Canada and
              available through the <a href="https://health-products.canada.ca/dpd-bdpp/index-eng.jsp">Drug Product
                Database</a>.</p><h4>Clinical Efficacy</h4>
            <p>The clinical efficacy of NeuraCeq was evaluated in three single-arm clinical studies that examined images
              from adults with a range of cognitive function, including end-of-life patients who had agreed to
              participate in a post-mortem brain donation program. Subjects underwent NeuraCeq administration (by
              intravenous injection) and imaging. The PET images were interpreted by independent readers masked to all
              clinical and histopathological information. Results from the pivotal histopathology study (Study 14595)
              and non-interventional blinded studies (Study B and Study C) were supported by data from six Phase I
              studies and two Phase II studies.</p>
            <p>The pivotal study, Study 14595, included two parts (Study B and Study C), each reported separately. The
              first part was a regional (tissue-matched) analysis with magnetic resonance imaging (MRI) co-registration,
              designed as a "target validation" element. This part of the study validated the ability of NeuraCeq PET
              imaging to detect amyloid aggregates in the brain in precisely the same tissue as that examined by
              histopathology. The pre-planned sample size for the first part of the study was at least 30
              histopathological specimens; the analysis was done on 31.The study continued after the first analysis,
              enrolling 216 subjects and an assessment of a subset of 82 evaluable autopsy cases was used for efficacy
              support. </p>
            <p>The primary efficacy support was derived from the original 3-reader assessment of the 82-autopsy subset
              under Study 14595, and from a reread of the same subset by a different panel of five readers (Study B).
              All 8 readers were blinded to all other clinical information. The 3 readers from the original assessment
              had in-person reader training; the set of 5 readers for the reread had electronic media training (as
              intended for clinical use). The five-reader reread also assessed inter- and intra-reader reliability.</p>
            <p>The primary efficacy analysis for target validation included hypothesis testing with pre-specified
              thresholds. Region-based sensitivity determined from the majority read had to be over 60%, and specificity
              of the same read had to be over 80%. The sensitivity and specificity were determined with two different
              analyses: a regional analysis (primary efficacy) to determine the presence or absence of ß-amyloid plaque
              in the brain on a region-by-region basis and a subject-based analysis as part of the secondary efficacy
              parameters. The results of the whole-brain (subject-based) visual assessments by the 3 in-person-trained
              readers for the first 31 deceased subjects and 10 healthy volunteers yielded a sensitivity of 100% (95%
              confidence interval [CI]: 80.5-100%), a specificity of 91.7% (95% CI: 80.6-100%), and inter-reader
              agreement of kappa = 0.870.</p>
            <p>The standard of truth (SoT) was based on histopathologic examinations using Bielschowsky silver staining
              (neuritic plaques) of six brain regions, assessed by a Pathology Consensus Panel masked to all clinical
              information (including PET scan results). The histopathology-derived plaque score was based on the
              Consortium to Establish a Registry for Alzheimer's Disease (CERAD) criteria using neuritic plaque counts.
              For the subject-level SoT, if any of the six brain regions had more than sparse amounts of β-amyloid
              neuritic plaques, the subject was classified as positive. If none of the regions had more than sparse
              amounts of β-amyloid neuritic plaques, the subject was classified as negative.</p>
            <p>Results using the "whole brain" SoT based on Bielschowsky silver staining confirmed the per subject
              results of the initial analysis. The subject level sensitivity and specificity of the visual assessments
              were 96.49% (95% CI: 91.71-100.00%) and 85.00% (95% CI: 73.93%-96.07%), respectively, for the majority
              read. The same analysis performed for the full analysis set excluding the 10 healthy volunteers yielded
              the same sensitivity of 96.49% and a specificity of 80.00% (95% CI: 65.69%-94.31) for the majority read.
              Similar results were also noted for two additional approaches to the SoT. </p>
            <p>At the autopsy assessment, the brain β-amyloid neuritic plaque density category was: frequent (number [n]
              = 31); moderate (n = 21); sparse (n = 17); or none (n = 13). The median age of the 82 subjects was 81
              years (range 48 to 98 years); 57% of the subjects were male. By medical history, 60 had Alzheimer's
              Disease (AD), 9 had other non-AD dementia, 4 had dementia with Lewy Bodies (DLB), and 9 had no clinical
              evidence of dementia. The interval between the NeuraCeq scan and death was less than one year for 45
              subjects, between one and two years for 23 subjects, and more than two years for 14 subjects.</p>
            <p>When the 82-subject subset was read by the 3 in-person-trained readers for the original assessment, and
              when the imaging data was subject to a reread by the 5 electronic-media-trained readers, median
              sensitivity and specificity results were not considered different from the original read. With the 3
              in-person-trained readers, NeuraCeq had a median sensitivity of 98% and a median specificity of 80%. When
              reread by the five electronic-media-trained readers, NeuraCeq had a median sensitivity of 96% and a median
              specificity of 77%; not different from the original read.</p>
            <p>The reliability and reproducibility of the clinically applicable image interpretation methodology using
              the electronic media training was assessed using 461 images from previous clinical studies, which included
              subjects with a range of diagnoses (Study C). Five readers assessed randomly-provided images from subjects
              with a truth standard (54 subjects who underwent an autopsy) and without a truth standard (51 subjects
              with mild cognitive impairment, 182 subjects with AD, 35 subjects with other dementias, 5 subjects with
              Parkinson's Disease and 188 healthy volunteers). Among the 461 subjects, the median age was 72 years
              (range 22 to 98), 197 were females, and 359 were Caucasian. </p>
            <p>Inter-reader agreement across all 5 readers had a kappa coefficient of 0.79 (95% CI: 0.77, 0.83). The
              performance characteristics in 54 subjects with a SoT were in general agreement with those measured in the
              studies noted above. Additionally, intra-reader reproducibility was assessed from 46 images (10%); the
              percentage of intra- reader agreement for the 5 readers ranged from 91% to 98%.</p>
            <p>Overall, the efficacy studies support the submitted indication for NeuraCeq.</p>
            <p>The indication proposed by the sponsor in the new drug submission was considered acceptable, and no major
              revisions were required. </p>
            <p>For more information, refer to the NeuraCeq Product Monograph, approved by Health Canada and available
              through the <a href="https://health-products.canada.ca/dpd-bdpp/index-eng.jsp">Drug Product Database</a>.
            </p><h4>Clinical Safety</h4>
            <p>The clinical safety assessment was based on data from 1,090 administrations of NeuraCeq (florbetaben
              [<sup>18</sup>F]) to 872 subjects. </p>
            <p>Of the 872 subjects in the clinical studies, 603 (69%) were 65 years of age or older, while 304 (35%)
              were aged 75 years or older. No overall differences in safety were observed between these subjects and
              younger subjects.</p>
            <p>No deaths or serious adverse reactions were attributed to the drug. </p>
            <p>The most common adverse reactions (occurring in at least 0.5% of subjects) during clinical studies were
              injection site reactions: injection site pain (3.5%), injection site erythema (1.7%), injection site
              irritation (1.2%), and other (non-serious) injection site reactions (1.2%). </p>
            <p>In terms of post-market adverse reactions, there was a single post-marketing report of an adverse
              reaction citing injection site pain and dysgeusia (impairment of the sense of taste). From post-marketing
              investigator-initiated studies, there have been eight reports (nine events) filed: nausea, injection site
              pain (n = 5), scan abnormal, dizziness, and hypertension.</p>
            <p>Appropriate warnings and precautions are in place in the NeuraCeq Product Monograph. A Serious Warnings
              and Precautions box stating that NeuraCeq should only be used by health professionals who are
              appropriately qualified in the use of radioactive prescribed substances in or on humans has been included
              in the NeuraCeq Product Monograph.</p>
            <p>Overall, it is considered that the safety results submitted show that NeuraCeq at the proposed dosing of
              300 MBq and mass doses of up to 30 µg per injection is safe and well-tolerated.</p></div>
          </details>
          <details id="ANonClinBasisTitle">
            <summary class="wb-toggle well well-sm wb-init wb-toggle-inited"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-12"
                     aria-controls="wb-auto-12">7.2 Non-clinical basis for decision
            </summary>
            <div id="ANonClinBasis1">
            <p>Non-clinical data did not reveal special hazards or signals for humans based on conventional studies of
              safety pharmacology, single and repeated-dose toxicity and genotoxicity. The non-clinical data package is
              considered adequate and there were no outstanding issues that would preclude the authorization of
              NeuraCeq.</p>
            <p>The non-clinical pharmacology and toxicology studies indicate that florbetaben did not induce detectable
              cardiovascular, renal, pulmonary or central nervous system alterations of clinical inference or concern.
              Toxicity study findings were generally regarded as unremarkable, and studies to assess the mutagenic
              potential were reported as negative. </p>
            <p>The <i>in vitro</i> proof of mechanism and concept studies show florbetaben binds to amyloid fibrils and
              plaques, including <i>in vitro</i> binding studies in post-mortem human brain homogenates from patients
              with Alzheimer's disease (AD). </p>
            <p>For more information, refer to the NeuraCeq Product Monograph, approved by Health Canada and available
              through the <a href="https://health-products.canada.ca/dpd-bdpp/index-eng.jsp">Drug Product Database</a>.
            </p></div>
          </details>
          <details id="BQualityBasisTitle" open="">
            <summary class="well well-sm wb-toggle wb-init wb-toggle-inited on"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-13" aria-controls="wb-auto-13"
                     tabindex="-1">7.3 Quality basis for decision
            </summary>
            <div id="BQualityBasis1">
            <p>NeuraCeq is radiolabelled with fluorine (<sup>18</sup>F) that decays by positron (β+) emission to
              <sup>18</sup>O with a half-life of 109.8 minutes. The principal photons useful for diagnostic imaging are
              the coincident pair of 511 keV gamma photons resulting from the interaction of the emitted positron with
              an electron.</p>
            <p>NeuraCeq (florbetaben [<sup>18</sup>F]) is supplied as a sterile, non-pyrogenic clear solution of 50 to
              5,000 MBq/mL florbetaben (<sup>18</sup>F) at the end of synthesis (EOS), in a 30 mL multi-dose glass vial
              containing up to 30 mL. Each vial contains multiple doses and is enclosed in a shielded container to
              minimize external radiation exposure. The pH of the solution is between 4.5 and 7.</p><h4>Characterization
            of the Drug Substance</h4>
            <p>The precursor of the drug substance, florbetaben (<sup>18</sup>F), is BOC stilbene mesylate. The
              formation of BOC stilbene mesylate is a two-step synthesis. In the first step, the starting material BOC
              methylamino stilbene is alkylated with triethyleneglycol monochloride to form BOC stilbene
              triethyleneglycol. Then, BOC stilbene triethyleneglycol is isolated, released, and is reacted with
              methanesulfonyl chloride to form the precursor BOC stilbene mesylate. Based on the chemical knowledge of
              the manufacturing process for BOC stilbene mesylate, the process parameters that could influence the
              quality of BOC stilbene mesylate were evaluated. No critical process parameters were identified. The
              precursor BOC stilbene mesylate was fully characterised using spectroscopic methods. The empirical formula
              and the relative molecular mass have been confirmed by elementary analysis and mass spectrometry. Results
              from batch analysis and validation were within the proposed acceptance criteria. </p>
            <p>Overall, the structure of BOC stilbene mesylate has been adequately explained and the representative
              structure elucidation data have been provided. Physical and chemical properties have been described and
              are considered to be satisfactory.</p><h4>Manufacturing Process and Process Controls of the Drug Substance
            and Drug Product </h4>
            <p>The synthesis of the florbetaben (<sup>18</sup>F) drug substance is a three-step process starting from
              the precursor BOC stilbene mesylate.</p>
            <ul>
              <li>The first step is a substitution of the mesyloxy group of the BOC stilbene mesylate by <sup>18</sup>F.
              </li>
              <li>The second step is the cleavage of the tert-butoxycarbonyl (BOC) protecting group with 2M hydrogen
                chloride followed by the neutralisation and buffering with 2M sodium hydroxide/1M ammonium formate.
              </li>
              <li>The third step is the purification of the florbetaben (<sup>18</sup>F) drug substance by
                semi-preparative high performance liquid chromatography (HPLC) and the collection of the required
                HPLC-fraction.
              </li>
            </ul>
            <p>The synthesis of the florbetaben (<sup>18</sup>F) drug product begins with a fraction of the HPLC eluent
              containing the drug substance which is then collected into the final product vial through a 0.22µm
              polyvinylidene difluoride sterile filter. The final product vial is pre-loaded with the formulation base
              (magrogol 400/water for injection) and a fixed portion of the diluent media (magrogol 400/ethanol/water
              for injection) is added to ensure the formulation of the final drug product.</p>
            <p>The method of manufacturing and the controls used during the manufacturing process for both the drug
              substance and drug product are valid and are considered to be adequately controlled within justified
              limits. The materials used in the manufacture of the drug substance and drug product are considered
              suitable and/or meet standards appropriate for their intended use. </p>
            <p>In-process controls and lot release tests for the drug substance and drug product were established and
              validated.</p>
            <p>Impurities and degradation products arising from manufacturing and/or storage were reported and
              characterized. These products were found to be within established limits and are considered to be
              acceptable.</p>
            <p>All non-medicinal ingredients (excipients) found in the drug product are acceptable for use in drugs
              according to the <a href="http://laws-lois.justice.gc.ca/eng/regulations/C.R.C.,_c._870/index.html">Food
                and Drug Regulations</a>. </p><h4>Control of the Drug Substance and Drug Product </h4>
            <p>The drug substance and drug product are tested against suitable reference standards to verify that they
              meet approved specifications. </p>
            <p>Batch analyses for three consecutive drug product qualification lots were provided as well as for 103
              batches manufactured for clinical studies between January 2012 and June 2013. All test results met the
              specifications and the qualification lots manufactured were within the historical range of the clinical
              batches manufactured at five different sites. </p>
            <p>Method summaries were provided for compendial methods and non-compendial methods. Validation summaries of
              the non-compendial methods were provided.</p>
            <p>The validation reports submitted for analytical procedures used for in-process and release testing of the
              drug product are considered satisfactory, and justify the specifications of the drug product. The
              analytical procedures are validated and in compliance with International Council for Harmonisation
              guidelines.</p><h4>Stability of the Drug Substance and Drug Product </h4>
            <p>Based on the stability data submitted, the proposed 10-hour expiry time at 18°C-25°C for NeuraCeq is
              considered acceptable.</p>
            <p>The compatibility of the drug product with the container closure system was demonstrated through
              compendial testing and stability studies. The container closure system met all validation test acceptance
              criteria.</p><h4>Facilities and Equipment</h4>
            <p>The design, operations, and controls of the facilities and equipment that are involved in the production
              are considered suitable for the activities and products manufactured. Isologic Innovative
              Radiopharmaceuticals Ltd. has an establishment licence #102131B; the last inspection date was December 14,
              2015.</p>
            <p>On-Site Evaluations of the facilities involved in the manufacture and testing of NeuraCeq were not
              conducted as they are not required for radiopharmaceutical products. </p><h4>Adventitious Agents Safety
            Evaluation</h4>
            <p>No materials of animal or human origin are used during the manufacture of the drug substance and the drug
              product.</p></div>
          </details>
        </div>
        <div id="template2b" style="display: none;">
          <details id="BQualityBasisTitle1">
            <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-14"
                     aria-controls="wb-auto-14">7.1 Quality basis for decision
            </summary>
            <p id="BQualityBasis2"></p>
          </details>
          <details id="ANonClinBasisTitle1">
            <summary class="wb-toggle well well-sm wb-init wb-toggle-inited"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-15"
                     aria-controls="wb-auto-15">7.2 Non-clinical basis for decision
            </summary>
            <p id="ANonClinBasis2"></p>
          </details>
          <details class="margin-top-medium" id="AClinBasisTitle1">
            <summary class="well well-sm wb-toggle wb-init wb-toggle-inited"
                     data-toggle="{&quot;persist&quot;: &quot;session&quot;}" id="wb-auto-16"
                     aria-controls="wb-auto-16">7.3 Clinical basis for decision
            </summary>
            <p id="AClinBasis2"></p>
          </details>

        </div>
      </details>
    </div>
  </section>
</div>
